
.databricks
.venv
.vscode
.venv*
*.egg-info/
mlruns/*
.env
__pycache__/
mlflow.db 
mlruns
mlruns/*

mlflow.db

build/

dist/
*.egg-info/
artifacts/
**/artifacts/
*_artifacts/
*.artifact
*.artifacts

*.md
*.json

# OS
.DS_Store
backup/

